/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://imgur.com/a/F1WplpQ');
    --home-image: url('https://raw.githubusercontent.com/Maqichh/6666/Theme/home_light.svg');
    --background-solid: #0000006c;
    --background-solid-dark: #0000006c;
    --background-solid-darker: #0000006c;
    --accent: #0000006c;
    --accent-alt: #0000006c;
}
